{% extends 'layout.html.twig' %}
{% block body %}

	<div class="row">

		<div class="col-xs-12">
			<div class="alert alert-success">
				<p>Showing up to {{ max_matches }} successful equations for each CSV row</p>
			</div>
		</div>

		<div class="col-xs-12">
			<p><a href='/'>&larr; Upload another CSV</a></p>
		</div>

		{% if results %}

			{% for result in results %}

				<div class="col-md-4">

					<div class="well">

						<p class="text-muted">Target Result: {{ result.problem.target }}</p>
						<p class="text-muted">Source Numbers: {{ result.problem.numbers_str }}</p>

						{% if result.expressions %}

							<p class="alert-success">Solved</p>

							<table class="table table-compact">
								<tr>
									<th>Postfix</th>
									<th>Infix</th>
								</tr>

								{% for expression in result.expressions %}
									<tr>
										<td>{{ expression.rpn }}</td>
										<td>{{ expression.ifx }}</td>
									</tr>
								{% endfor %}

							</table>

						{% else %}

							<p class="alert-danger">Unsolveable within the time limit</p>

						{% endif %}

					</div>

				</div>

			{% endfor %}

		{% else %}

			<h2>No results found</h2>

		{% endif %}

	</div>

{% endblock body %}